:root {
  --dialog-content-padding: 64px;
}

.button-white--dialog {
  background-color: white;
}

.add-task-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  border: none;
  border-radius: 30px;
  background-color: white;
  transform: translate(100dvw, -50%);
  transition: transform 0.125s ease-out;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content-wrapper--dialog {
  padding: 0 var(--dialog-content-padding);
  max-height: 95dvh;
  overflow-y: auto;
  width: 100%;
  background-color: white;
}

.show-dialog {
  transform: translate(-50%, -50%);
  transition: transform 0.125s ease-out;
}

.add-task-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.add-task-dialog textarea {
  margin: 0;
}

.add-task-bottom-btns-container--dialog {
  position: sticky;
  bottom: 0;
  right: 0;
  padding: 16px 0 var(--dialog-content-padding) 0;
  font-size: 16px;
  display: flex;
  justify-content: end;
}

.add-task-inner-wrapper--dialog {
  margin-bottom: 80px;
}

.add-task-dialog-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.add-task-headline--dialog {
  color: black;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 36px;
  padding-top: var(--dialog-content-padding);
}

.add-task-dialog-closing-btn {
  position: absolute;
  padding: 8px;
  background-color: transparent;

  right: var(--dialog-content-padding);
  top: var(--dialog-content-padding);
  border-radius: 50%;
  z-index: 2;
}

.add-task-dialog-closing-btn:hover {
  background-color: #eeeeee;
}

.p-required--dialog {
  position: absolute;
  bottom: var(--dialog-content-padding);
}

/* #region dialog scrollbar */

.content-wrapper--dialog {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #a8a8a8;
  --sb-size: 16px;
}

.content-wrapper--dialog::-webkit-scrollbar {
  width: var(--sb-size);
}

.content-wrapper--dialog::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
}

.content-wrapper--dialog::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
  border: 4px solid #ffffff;
}

@supports not selector(::-webkit-scrollbar) {
  .content-wrapper--dialog {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* #endregion */

/* #region responsive */

@media screen and (max-width: 1024px) {
  :root {
    --dialog-content-padding: 32px;
  }
  .add-task-headline--dialog {
    position: sticky;
    top: 0px;
    background-color: white;
    padding-top: var(--dialog-content-padding);
  }

  .add-task-bottom-btns-container--dialog {
    background-color: white;
  }

  .content-wrapper--dialog {
    padding: 0 var(--dialog-content-padding);
  }

  .add-task-inner-wrapper--dialog {
    margin-bottom: 0;
  }

  .p-required--dialog {
    position: unset;
    margin-bottom: var(--dialog-content-padding);
  }
}

@media screen and (max-width: 768px) {
  :root {
    --dialog-content-padding: 16px;
  }
  .add-task-dialog {
    width: 100dvw;
  }
  .content-wrapper--dialog {
    padding: 0 var(--dialog-content-padding);
  }

  .add-task-headline--dialog {
    font-size: 40px;
    margin-bottom: 24px;
  }

  .add-task-bottom-btns-container--dialog {
    justify-content: center;
  }

  .add-task-headline--dialog {
    text-align: center;
  }

  .p-required--dialog {
    justify-self: center;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --dialog-content-padding: 8px;
  }

  .add-task-dialog {
    border-radius: 16px;
    height: 95dvh;
    max-height: none;
    width: 95dvw;
    max-width: none;
  }

  .add-task-headline--dialog {
    font-size: 32px;
    margin-bottom: 16px;
  }

  textarea,
  .add-task-dialog #task-title,
  .add-task-dialog #task-description,
  .add-task-dialog .custom-select-input {
    padding: 8px;
  }

  .bottom-btns-wrapper--dialog {
    flex-direction: column-reverse;
  }

  .add-task-bottom-btns-container--dialog {
    justify-content: center;
  }
}

/* #endregion */
