@media screen and (max-width: 1350px) {
  :root {
    --padding-lr-main-add-task: 48px;
  }
}

@media screen and (max-width: 1280px) {
  :root {
    --textarea-height: 100px;
    --input-width: 420px;
  }

  .addtask-toast-msg-add-task {
    left: 300px;
  }
}

@media screen and (max-width: 1150px) {
  :root {
    --input-width: 350px;
  }

  .prio-btn {
    padding: 10px 5px;
    min-width: 110px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --input-width: 550px;
    --textarea-height: 90px;
    --width-content-wrapper: var(--input-width);
    --bottom-btns-container-width: 285px;
    --padding-lr-main-add-task: var(--padding-lr-main);
  }

  .main-content--add-task {
    align-items: center;
  }

  .prio-btn {
    padding: 16px 10px;
    min-width: 120px;
  }

  .add-task-headline {
    z-index: 1;
  }

  .add-task-headline--add-task {
    padding-top: 40px;
    padding-bottom: 10px;

    position: fixed;
    top: var(--header-height);
    width: 100dvw;
    background-color: var(--light-gray);
  }

  .add-task-bottom-btns-container--add-task {
    position: fixed;
    top: 90dvh;
    left: calc(
      var(--sidebar-width) + ((100dvw - var(--sidebar-width)) / 2) +
        (var(--width-content-wrapper) / 2)
    );
    transform: translateX(-100%);
  }

  .content-wrapper--add-task {
    margin-top: 80px;
  }

  .task-form--add-task {
    max-width: 1000px;
    margin-bottom: 100px;
  }

  .task-form * {
    font-size: 16px;
  }

  .add-task-bottom-btns-container--add-task {
    top: unset;
    bottom: calc(var(--resp-navbar-height) + 24px);
    left: 0;
    padding-left: calc(
      50dvw + (var(--width-content-wrapper) / 2) -
        var(--bottom-btns-container-width)
    );
    padding-right: max(var(--content-limitation), var(--padding-lr-small));
    transform: translateX(0%);
    background-color: var(--light-gray);
    width: 100%;
  }

  .bottom-btns-wrapper--add-task {
    width: var(--bottom-btns-container-width);
  }

  .bottom-btn {
    font-size: 20px;
  }

  .add-task-inner-wrapper {
    flex-direction: column;
    align-items: center;
  }

  textarea {
    resize: none;
    background-image: none;
  }

  .add-task-bottom-section {
    margin-top: 0;
  }

  .p-required {
    position: unset;
  }

  .subtask-list .normal-li .subtask-btns-container--ul {
    display: flex;
  }

  .addtask-toast-msg--add-task {
    top: calc(50% - (74px / 2));
    left: unset;
    align-self: center;
  }

  .display-toast-msg-add-task {
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 768px) {
  :root {
    --input-width: 70dvw;
  }

  .prio-btn {
    padding: 10px 10px;
    min-width: 110px;
  }

  .add-task-headline--add-task {
    padding-top: 16px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --width-content-wrapper: calc(100dvw - (var(--padding-lr-small) * 2));
    --input-width: unset;
    --bottom-btns-container-width: unset;
  }

  .add-task-container {
    width: 100%;
  }

  .content-wrapper {
    width: 100%;
  }

  .add-task-bottom-btns-container--add-task {
    padding: 0 16px;
    display: flex;
    justify-content: end;
  }
}

@media screen and (max-width: 480px) {
  .add-task-headline--add-task {
    padding-top: 8px;
    margin-bottom: 16px;
  }

  .content-wrapper {
    margin-top: 48px;
  }

  .bottom-btn {
    padding: 8px;
  }

  .prio-btn {
    padding: 6px;
    gap: 4px;
    width: unset;
  }

  #urgent-prio-svg,
  #low-prio-svg {
    width: 18px;
    height: 12px;
  }

  #medium-prio-svg {
    height: 8px;
    width: 16px;
  }

  .urgent-active,
  .medium-active,
  .low-active {
    font-weight: 600;
  }

  .addtask-toast-msg {
    padding: 16px 16px;
    font-size: 18px;
    width: 250px;
  }

  .addtask-toast-msg--dialog {
    left: calc(50% - (250px / 2));
  }
}

@media screen and (max-width: 375px) {
  .content-wrapper {
    margin-top: 64px;
  }
}

@media screen and (min-height: 1100px) and (min-width: 1024px) {
  .add-task-bottom-btns-container--add-task {
    top: 950px;
  }

  .bottom-btns-wrapper--add-task {
    margin-bottom: 24px;
  }

  .p-required--add-task {
    top: 950px;
  }
}
